kind: PerconaServerMongoDB
metadata:
  name: dremio-mongodb
  namespace: dremio
  labels:
    app.kubernetes.io/name: dremio
    app.kubernetes.io/instance: dremio
    app-group: dremio
  
spec:
  crVersion: 1.21.1
  image: quay.io/dremio/percona/percona-server-mongodb:8.0.12-4
  imagePullPolicy: IfNotPresent
  
  tls:
    mode: preferTLS
  initContainerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    privileged: false
    readOnlyRootFilesystem: false
    runAsGroup: 1001
    runAsNonRoot: true
    runAsUser: 1001
  updateStrategy: SmartUpdate
  upgradeOptions:
    # No automatic upgrades
    apply: Disabled # Recommended, Latest, Disabled
  secrets:
    users: dremio-mongodb-system-users
  users:
    - name: dremio
      db: dremio
      passwordSecretRef:
        name: dremio-mongodb-app-users
        key: dremio
      roles:
        - name: readWrite
          db: dremio
  enableVolumeExpansion: false
  replsets:
    - name: rs0
      size: 3
      serviceAccountName: dremio-mongodb
      resources:
        limits:
          cpu: 4
          memory: 2Gi
        requests:
          cpu: 2
          memory: 2Gi
      
      
      annotations:
        metrics.dremio.com/scrape: "true"
        metrics.dremio.com/port: "9216"
        metrics.dremio.com/path: "/metrics"
        
      
      
      podSecurityContext:
        fsGroup: 0
        runAsGroup: 1001
        runAsNonRoot: true
        runAsUser: 1001
        seccompProfile:
          type: RuntimeDefault
      containerSecurityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
        privileged: false
        readOnlyRootFilesystem: false
        runAsGroup: 1001
        runAsNonRoot: true
        runAsUser: 1001
      volumeSpec:
        persistentVolumeClaim:
          accessModes:
          - ReadWriteOnce
          annotations: {}
          labels: {}
          resources:
            requests:
              storage: 512Gi
          
      sidecars:
      - image: quay.io/dremio/percona/mongodb_exporter:0.47.1
        name: dremio-mongodb-metrics-exporter
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: 50m
            memory: 64Mi
