apiVersion: sparkoperator.k8s.io/v1alpha1
kind: SparkConnect
metadata:
  name: spark-connect
  namespace: jupyterhub-users
spec:
  sparkVersion: "3.5.0"
  sparkConf:
    "spark.kubernetes.authenticate.driver.serviceAccountName": "spark-driver"
    "spark.kubernetes.authenticate.executor.serviceAccountName": "spark-driver"
    "spark.kubernetes.namespace": "jupyterhub-users"
    "spark.jars.packages": "org.apache.spark:spark-connect_2.12:3.5.0"
  server:
    template:
      metadata:
        labels:
          app: spark-connect
      spec:
        serviceAccount: spark-driver
        securityContext:
          fsGroup: 185
          runAsUser: 185
        containers:
        - name: spark-kubernetes-driver
          image: spark:3.5.0
          imagePullPolicy: IfNotPresent
          # Resources: Requests ONLY to avoid node failure
          resources:
            requests:
              cpu: 500m
              memory: 512m
          volumeMounts:
          - name: ivy-cache
            mountPath: /home/spark/.ivy2
        volumes:
        - name: ivy-cache
          emptyDir:
            medium: Memory
            sizeLimit: "512Mi"
  executor:
    instances: 1
    cores: 1
    memory: "512m"
    template:
      spec:
        containers:
        - name: spark-kubernetes-executor
          image: spark:3.5.0
          imagePullPolicy: IfNotPresent
