#
# Copyright (C) 2017-2019 Dremio Corporation. This file is confidential and private property.
#

{{- if and .Values.catalog.storage.type (eq (upper .Values.catalog.storage.type) "S3") .Values.catalog.storage.s3.useAccessKeys }}
{{- if and .Values.catalog.storage.s3.accessKey .Values.catalog.storage.s3.secretKey }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dremio.catalog.storage.s3.secretName" $ }}
  labels:
    app: dremio-catalog-server
type: Opaque
data:
  awsAccessKeyId: {{ .Values.catalog.storage.s3.accessKey | b64enc }}
  awsSecretAccessKey: {{ .Values.catalog.storage.s3.secretKey | b64enc }}
{{- end }}
{{- end }}
